.App {
  text-align: center;
}


.App-logo {
  -animation: App-logo-spin infinite 2s,ease-out;
  height: 50px;
}

.App-header {
  background-color: #333333;
  -min-height: 50vh;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #E5E5E5;
}
.Title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.ElementTitle1{
  width: 200px;
  flex-basis: 20%;
}
.ElementTitle2{
  width: 300px;
  flex-basis: 60%;
}
.ElementTitle3{
  width: 200px;
  flex-basis: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.App-body {
  background-color: #F8F8F8;
  -height: 700px;
  display: flex;
  flex-direction: column;
}
.Button_UnVis{
  background: #333333;
  border-style: solid;
  height: 56px;
}
.DataText{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 10vh;
  color:#7E7E7E;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.hr{
  float: top;
  width: 50%;
  margin-left: 0;
}
.Photo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-basis: 33%;
  flex-wrap: wrap;
  margin-right: 10vh;
}
.Pict{
  width:26%;
  margin:30px;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}
a{
  color:white
}
a:focus{
  color:rgb(164, 164, 255)
}

a:hover{
  color:rgb(164, 164, 255)
}
.iconProf{
  width:50px;
  margin-left:10px;
  border-radius: 100%;
  border: 2px solid #F8F8F8
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
