body{
	font-family: 'Roboto', sans-serif;
	margin-top: 25px;
	-background-color: rgb(9, 9, 15);
	-color: white;
}
head{
	font-family: 'Roboto', sans-serif;
}
.logo{
	object-fit: cover;
	-border-radius: 20%;
	border-style: none;
	margin-right: 20px;
}
.my_name{
	font-size: 34px;
	margin-bottom: 0px;
}
.divFlex{
	display: flex;
	align-items:center;
	margin-bottom: 5px;
}
i{
	margin-right: 10px;
}
.publications{
	margin-top: 50px;
}
.projects{
	margin-top: 50px;
	margin-bottom: 80px;
}
.projects > h1{
	margin-bottom: 20px;
}
.paper{
	margin-bottom: 10px;
	margin-left: 15px;
}
.paperBlocks > div,
.projectLinks{
	margin-left: 12px;
	margin-right: 12px;
	color: rgb(123, 75, 255);
	cursor: pointer;
}
a{
	text-decoration:none;
	color: rgb(123, 75, 255);
}
.projectLinks{
	margin-top: 20px;
}
.project{
	display: flex;
	align-items: stretch;
	margin-bottom: 5px;
	padding-left: 0px;
	padding-right: 5px;
	transition: 0.1s;
}
.project:hover{
	padding-left: 5px;
	padding-right: 0px;
}
.textblock{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 99%;
}
a > .projectLogo{
	cursor: zoom-in;
}
.projectLogo{
	margin-right: 15px;
}
.linkContainer{
	display: flex;
	flex-direction: row;
}
.play_icon{
	position: absolute;
	padding: 5px;
	color: rgba(255, 255, 255);
	opacity: 0.90;
	text-shadow: 1px 1px 5px black, 0 0 5px rgb(0, 0, 0), -1px 0 rgb(31, 31, 31), 0 1px rgb(31, 31, 31), 1px 0 rgb(31, 31, 31), 0 -1px rgb(31, 31, 31);
}
div > .play_icon{
	background-color: rgba(0, 0, 0, 0.5);
	width: 70px;
	clip-path: polygon(0% 0%, 100% 0%, 40% 100%, 0% 100%);
}
.slide-fade-enter-active {
    transition: opacity .5s;
}
.slide-fade-leave-active {
	display: none;
    transition: opacity .5s;
}
.slide-fade-enter, .slide-fade-leave-to{
    opacity: 0;
}
  
