h1{
	text-Align:center;
	padding-bottom:15px;
}
h2{
	text-Align:center;
}
h3{
	text-Align:center;
}
h4{
	text-Align:center;
}
.block-1{
	display:flex;
	justify-content:space-between;
}
p{
	font-size:15px;
	text-align:center;
}
.button-download{
	display: flex;
    justify-content: center;
	align-items: center;
	overflow: auto;
}
.panel-footer{
	background:#333;
}
.Footer-text{
	font-size:18px;
	color:white; 
}
#calc{
	margin:10px;
	text-align:center;
}
.thumbnail:hover{
	Animation:hoveranim 0.2s ease-out 0s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}
.panel-info:hover{
	Animation:hoveranim 0.2s ease-out 0s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}
.ImgMain{	
	text-align:center;
}
.imgcat{
border-radius: 2%;
border:1px solid #cfe8f5;	
}
@keyframes hoveranim {
0% {
background:white;
}
100% {
background:#DFDFDF;
}