body{
	font-family: 'Roboto', sans-serif;
	background-color:#693A96;
}
head{
	font-family: 'Roboto', sans-serif;
}
h1,h3{
	text-align:center;
}
h1{
	Color:white;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, 
.btn-primary:focus, .btn-primary:hover, 
.open > .dropdown-toggle.btn-primary{
background-color:#E23E97;	
}
.btn-primary{
background-color:#693A96;
border-color:#693A96;
}
.Label1{
	font-family: 'Pacifico', cursive;
	color:black;
}
.image {
 overflow:hidden;
 height: 230px;
 padding-top: 20px;
 padding-bottom: 20px;
 }
 .image img {
 -moz-transition: all 1s cubic-bezier(.17,.84,.44,1);
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s cubic-bezier(.17,.84,.44,1);
 }
 
.image img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }
.block-1{
	display:flex;
	justify-content:space-between;
}
.block-1 > .thumbnail{
	Margin-bottom:0px;
}
p{
	font-size:15px;
	text-align:center;
}
.nav-items{
	width: 33%;
	text-align: center;
	font-size: 18px;
	color:White;
}
.map-off{
	Width:700px;
	height:500px;
	background:#FAFAFA;
}
.dropdown-menu{
	font-size: 22px;
}
 a,a:hover,a:focus{
	color:#693a96;
}

.nav-pills > li.active > a{
	background-color:#E23E97;
}
.nav-pills > li.active > a:hover,.nav-pills > li.active > a:focus{
	background-color:#693A96;
}
.panel-footer{
	background:#333;
	height:65px;
}
.Footer-text{
	font-size:15px;
	color:white; 
}
.nav{
	display:flex;
	justify-content:space-around;
}
.col-md-6 > strong{
	color:#E23E97;
	font-size:25px;
}
.tel{
	color:#693A96;
	font-size:35px;
}
caption{
	color:#693A96;
	font-size:35px;
}