<header>
    <img src="img/angular.svg"/>
    <h1>Калькулятор кредитов через {{ title }}</h1>
    </header>
    <main>
        <h1>Калькулятор кредитов</h1>
        <div class="todo-list">
                <h2>Введите данные</h2>
                </div>
        <form class="todo-form" (ngSubmit)="create(titleCalc1.value,titleCalc2.value); todoForm.reset()" #todoForm="ngForm">
        <input type="text" name="title" [(ngModel)]="newTodoTitle" placeholder="Сумма кредита" #titleCalc1
            required>
            <input type="text" name="title2" [(ngModel)]="newTodoTitle2" placeholder="Срок кредитования (в месяцах)" #titleCalc2
            required>
            <Button type="submit" [disabled]="todoForm.form.invalid">Рассчитать кредит</Button>  
        </form>
        <div class="todo-list">
        <h3>Ставка	12.9%</h3>
        <h3><div id="EnterNember">Сумма кредита 0 руб.</div></h3>
        <h3><div id="EnterNember2">Срок кредита 0 мес.</div></h3>
        </div>
        <div class="todo-list">
                <h3><div id="EnterNember3">
                 Ежемесячный платеж 0 руб.
                </div></h3>
        </div>    
    </main>              
