.divan{
	color:grey;
	/*border: 1px dashed grey;*/
	box-sizing: border-box;
	padding:25px; 
	font-size:15px;
	background:white;
	Animation:runing 3s linear 0s;
}
.divan2{
	color:gray;
	/*border: 1px dashed grey;*/
	box-sizing: border-box;
	padding:25px; 
	font-size:15px;
	background:white;
	word-spacing:50px;
	Animation:runing 3s linear 0s;
}
.maintext{
	color:White;
	/*border: 1px dashed grey;*/
	box-sizing: border-box;
	padding-top:80px;  
	padding-bottom:50px; 
	font-size:25px;	
	text-align:center;
	background:#1abc9c;
	Animation:runing 3.5s linear 0s;
}
.maintext2{
	color:White;
	/*border: 1px dashed grey;*/
	box-sizing: border-box; 
	font-size:25px;	
	text-align:center;
	background:#1abc9c;
	Animation:runing 3.5s linear 0s;
}
.maintext3{
	color:White;
	/*border: 1px dashed grey;*/
	box-sizing: border-box;
	padding-top:50px;  
	padding-bottom:50px; 
	font-size:25px;	
	text-align:center;
	background:#1abc9c;
	Animation:runing 3.5s linear 0s;
}
.Image1{
	 border-radius: 100%; /* Радиус скругления */
}
.verymaintext{
	color:White;
	/*border: 1px dashed grey;*/
	box-sizing: border-box;
	padding-top:80px;  
	padding-bottom:50px; 
	font-size:25px;	
	text-align:center;
	background:#474e5d;
	Animation:runing 4s linear 0s;
}
.verymaintext2{
	color:White;
	/*border: 1px dashed grey;*/
	box-sizing: border-box; 
	padding-bottom:50px; 
	font-size:17px;	
	text-align:center;
	background:#474e5d;
	Animation:runing 4s linear 0s;
}
.lowtext{
	color:grey;
	/*border: 1px dashed grey;*/
	box-sizing: border-box;
	padding-top:80px;  
	padding-bottom:50px; 
	font-size:25px;	
	text-align:center;
	background:White;
	Animation:runing 4.5s linear 0s;
}
.lowtext1-1{
	color:grey;
	box-sizing: border-box;
	font-size:17px;	
	text-align:center;
	background:White;
	padding-bottom:80px;
	Animation:runing 4.5s linear 0s;
}
.lowtext2{
	color:white;
	/*border: 1px dashed grey;*/
	box-sizing: border-box;
	font-size:18px;	
	text-align:center;
	background:#333;
	padding-top:80px;  
	padding-bottom:50px; 
	Animation:runing 4.5s linear 0s;
}
@keyframes runing {
  0% {
    opacity: 0;
  }
    75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 
