.div{
	color:grey;
	border: 1px dashed grey;
	box-sizing: border-box;
	padding:25px; 
	font-size:15px;
	float:top;
	background:#D2691E;
	height:10%;
}
.divLeft{
	color:grey;
	border: 1px dashed grey;
	box-sizing: border-box;
	padding:25px; 
	Height:80%;
	Width:15%;
	font-size:15px;
	background:#4682B4;
	float:left;
}
.divLeft-1{
	color:grey;
	border: 1px dashed grey;
	box-sizing: border-box;
	padding:25px; 
	Height:80%;
	Width:15%;
	font-size:15px;
	background:#F08080;
	float:left;
}
.divLeft-2{
	color:grey;
	border: 1px dashed grey;
	box-sizing: border-box;
	padding:25px; 
	Height:80%;
	Width:70%;
	font-size:15px;
	background:yellow;
	float:left;
}
.divcenter{
	float:none;
	color:grey;
	border: 1px dashed grey;
	padding:25px; 
	font-size:15px;
	background:red;
	width:50%;
	height:10%;
}
.divcenter-1{
	float:none;
	color:grey;
	border: 1px dashed grey;
	padding:25px; 
	font-size:15px;
	background:#B0C4DE;
	width:50%;
	height:10%;
	margin-left:15%;
	margin-top:-3%;
}
.inside{
	margin-left:15%;
	margin-top:15%;
}
.divBottom{
	float:Left;
	color:grey;
	border: 1px dashed grey;
	font-size:15px;
	background:#228B22;	
	height:10%;
	Width:100%
}
