.div{
	color:white;
	border: 1px dashed grey;
	box-sizing: border-box;
	background:#D2691E;
	height:10%;
}
.divLeft{
	color:white;
	border: 1px dashed grey;
	box-sizing: border-box;
	background:#4682B4;
	Height:80%;
}
.divLeft-1{
	color:white;
	border: 1px dashed grey;
	box-sizing: border-box;
	background:#F08080;
	Height:80%;
}
.divLeft-2{
	color:white;
	border: 1px dashed grey;
	box-sizing: border-box;
	background:yellow;
	Height:80%;
}
.divcenter{
	color:white;
	border: 1px dashed grey;
	background:red;
	height:10%;
	width:50%;
}
.divcenter-1{
	color:white;
	border: 1px dashed grey;
	background:#B0C4DE;
	margin-left:15%;
	margin-top:-3%;
	height:10%;
	width:50%;
}
.inside{
	margin-left:1%;
	margin-top:1%;
}
.divBottom{
	color:white;
	border: 1px dashed grey;
	background:#228B22;	
	height:10%;
}
