body{
background:black;
}
head{
background:black;
}
a {
    color: gray;
    text-decoration: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: gray;
    animation: spinall 10s linear;
    animation: spinall 4s linear infinite;
}

a:focus, a:hover {
    color: DimGray;
    text-decoration: underline;
    animation: spinall 4s linear infinite;
}
.imageangl{
 animation: spin 2s linear infinite;   
}
footer{
    animation: spinall 4s linear infinite;
}

@keyframes spin{
  0% {
    opacity:0;  
    width: 0px;
     height: 0px;
  }
  100% {
    opacity:1;  
    width: 200px;
     height: 200px;
  }
}

@keyframes spinall{
  0% {
    opacity:0;  
  }
  50% {
    opacity:0;  
  }    
  100% {
    opacity:1;  
  }
}
