body{
background:black;
}
head{
background:black;
}
a {
    color: gray;
    text-decoration: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: gray;
}

a:focus, a:hover {
    color: DimGray;
    text-decoration: underline;
}
.imageangl{
 animation: spin 10s linear infinite;   
}

@keyframes spin{
  0% {
    opacity:0;  
    width: 10px;
     height: 10px;
  }
  100% {
    opacity:1;  
    width: 500px;
     height: 500px;
  }
}
